#profile-container {
    margin-left:15vw;
    margin-right:15vw;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#pfp-self {
    display:inline;
    align-self:flex-start;
    height: 400px;
    object-fit: contain;
}