<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Редактирование новости</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/news_style.css}">
        <link rel="stylesheet" th:href="@{/css/news_editor_style.css}">
        <script th:src="@{/js/time_fetcher.js}"></script>
        <script ></script>
    </head>
    <body>
        <div id="top-bar">
            <center style="width:40%"><div id="uniname">Unusual Government University</div></center>
            <div id="nonuniname">
                <div id="server-info">
                    <p>Серверное время: <span id="server-time"></span></p>
                    <p>Количество посещений: <span id="visits" th:text="${user.loginCount}"></span></p>
                </div>
                <form th:if="${user.permLevel>0}" th:action="@{/editarticle}">
                    <button class="tab" type="submit">Редактор новостей</button>
                </form>
                <form th:action="@{/index}">
                    <button class="tab" type="submit">Новости</button>
                </form>
                <form>
                    <button class="tab">Расписание</button>
                </form>
                <form th:action="@{/profile}">
                    <button id="profiletab">Личный кабинет</button>
                </form>
            </div>
        </div>
        <div id="editor-container">
            <form method="post">
                <div id="editor-controller">
                    <input type="text" id="news-id" name="news_id">
                    <button id="get-edit-news">Загрузить новость</button>
                    <button type="submit" formaction="/editnews" id="change-edit-news">Изменить новость</button>
                    <button type="submit" formaction="/newnews" id="make-new-news">Создать новость</button>
                </div>
                <span th:if="${errorMessage}" style="color:red; font-size: 10px;">
                    <p th:text="${errorMessage}"></p>
                </span>
                <div class="article">
                    <div class="article-content">
                        <h2><input id="article-title" value="Заголовок" required></h2>
                        <textarea id="article-text" rows="15" maxlength="3000" required>Содержание</textarea><br>
                        <div class="news-image">
                            <input type="file" class="article-image"><br>
                            <button class="del-image">X</button>
                        </div>
                        <button id="add-image">Добавить картинку</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>