<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Редактирование новости</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/news_style.css}">
        <script th:src="@{/js/time_fetcher.js}"></script>
        <script type="module" th:src="@{/js/user_handlers.js}"></script>
    </head>
    <body>
        <div id="top-bar">
            <center style="width:40%"><div id="uniname">Unusual Government University</div></center>
            <div id="nonuniname">
                <div id="server-info">
                    <p>Серверное время: <span id="server-time"></span></p>
                    <p>Количество посещений: <span id="visits" th:text="${user.loginCount}"></span></p>
                </div>
                <form th:if="${user.permLevel>0}" th:action="@{/editarticle}">
                    <button class="tab" type="submit">Редактор новостей</button>
                </form>
                <form th:action="@{/index}">
                    <button class="tab" type="submit">Новости</button>
                </form>
                <form>
                    <button class="tab">Расписание</button>
                </form>
                <form th:action="@{/profile}">
                    <button id="profiletab">Личный кабинет</button>
                </form>
            </div>
        </div>
        <div id="editor-container">
            <div id="editor-controller">
                <input type="text" id="username-id">
                <button id="get-user-byname">Получить пользователя по имени</button>
                <button id="get-user-byid">Получить пользователя по идентификатору</button>
                <button id="update-user">Подтвердить изменения данных</button>
                <span id="response-text"></span>
            </div>
            <div id="user-data">
            </div>
        </div>
    </body>
</html>