<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Лента новостей</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/news_style.css}">
        <script th:src="@{/js/time_fetcher.js}"></script>
        <script th:src="@{/js/load_init_news.js}"></script>
    </head>
    <body>
        <div id="top-bar">
            <center style="width:35%"><div id="uniname">Unusual Government University</div></center>
            <div id="nonuniname">
                <div id="server-info">
                    <p>Серверное время: <span id="server-time"></span></p>
                    <p>Количество посещений: <span id="visits" th:text="${user.loginCount}"></span></p>
                </div>
                <form th:if="${user.permLevel>0}" th:action="@{/editarticle}">
                    <button class="tab" type="submit">Редактор новостей</button>
                </form>
                <form th:action="@{/index}">
                    <button class="tab" type="submit">Новости</button>
                </form>
                <form>
                    <button class="tab">Расписание</button>
                </form>
                <form th:action="@{/profile}">
                    <button id="profiletab">Личный кабинет</button>
                </form>
            </div>
        </div>
        <div id="newscolumn">
            <div id="news-container">
                <div id="news-header">
                    <span style="font-size:24px">Новостная лента</span>
                </div>
            </div>
            <button id="loadmore-btn" class="cool-btn">Загрузить больше новостей</button>
        </div>
        <script>document.getElementById("loadmore-btn").addEventListener("click", async ()=>{
    for (let i=0; i<5; i++) {
        let news = await fetchNewsByPrev(j);
        if(news === null) {
            document.getElementById("loadmore-btn").disabled=true;
            break;
        }
        j = await buildNews(news);
    }
});

showNews();</script>
    </body>
</html>