<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Регистрация</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/login_style.css}">
    </head>
    <body>
        <center>
            <h2>Регистрация</h2>
            <form th:action="@{/register}" method="post">
                <div>
                    <label>Имя(Логин)</label>
                    <input type="text" name="username"><br>
                    <span th:if="${usernameError}" style="color:red; font-size: 10px;">
                        <p th:text="${usernameError}"></p>
                    </span>
                </div>    
                <div>
                    <label>Пароль</label>
                    <input type="text" name="password"><br>
                    <span th:if="${passwordError}" style="color:red; font-size: 10px;">
                        <p th:text="${passwordError}"></p>
                    </span>
                </div>
                <div>
                    <label>Роль</label><br>
                    <input type="radio" name="role" value="0" checked>Пользователь<br>
                    <input type="radio" name="role" value="1">Модератор<br>
                    <input type="radio" name="role" value="2">Администратор<br>
                </div>
                <button type="submit">Зарегистрироваться</button>
                <div></div>
                <p><a th:href="@{/login}">Логин</a></p>
            </form>
        </center>
    </body>
</html>